NEXT_PUBLIC_SUPABASE_URL=https://whxuhjufsjjparbvyblj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_iMjvB1djevW_8L73LOb_aw__21Nx2SF
AI_API_BASE_URL=https://apidev.navigatelabsai.com
AI_API_KEY=sk-BY2mCguZLviKEBLO8Qx3aQ
AI_MODEL_NAME=gemini-2.5-flash
